p {
  animation-duration: 3s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Animation Shorthand */
p {
  animation: 3s infinite alternate slide-in;
}

/* Multiple Animation */
h1 {
  animation-name: fadeInOut, moveLeft300px, bounce;
  animation-duration: 2.5s, 5s, 1s;
  animation-iteration-count: 2, 1, 5;
}

h1 {
  animation-name: fadeInOut, moveLeft300px, bounce;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

h1 {
  animation-name: fadeInOut, moveLeft300px, bounce;
  animation-duration: 2.5s, 5s;
  animation-iteration-count: 2, 1;
}
