body {
  display: flex;
  justify-content: center;
}

.container {
  border: 1px solid black;
  width: 300px;
}

.box {
  background: sandybrown;
  border: 8px solid saddlebrown;
  margin: 20px;
  padding: 32px;
  font-size: 32px;
  max-width: 600px;
}
